<section class="footer-cta-section footer-cta-section--professionals">
  <img
    src="/assets/images/gallery/chef_kitchen_cutboard_bg.png"
    alt="Castanya de Viladrau a la teva carta"
    class="cta-bg-img"
  />
  <div class="cta-overlay cta-overlay--professionals"></div>
  <div class="cta-content cta-content--professionals">
    <h2 class="cta-title cta-title--professionals">
      VOLS INCORPORAR LA CASTANYA DE VILADRAU AL TEU MENU?
    </h2>
    <p class="cta-text cta-text--professionals">
      T'ha agradat alguna d'aquestes idees? Parla amb el Joaquim per demanar una
      mostra o ajustar el format a la teva cuina.
    </p>
    <a
      href="/contact/"
      class="btn-olive-transparent btn-olive-transparent--professionals"
      >CONTACTAR AMB EN JOAQUIM</a
    >
  </div>
</section>

<div class="newsletter-bar newsletter-bar--professionals">
  <div class="footer-container flex-newsletter flex-newsletter--professionals">
    <div class="newsletter-copy newsletter-copy--professionals">
      <h3 class="newsletter-heading">BUTLLETI</h3>
      <p class="newsletter-text newsletter-text--professionals">
        Uneix-te al nostre butlleti per estar al dia de nous productes i
        activitats a mes de rebre descomptes
      </p>
    </div>
    <div class="newsletter-form newsletter-form--professionals">
      <input
        type="email"
        class="newsletter-input-field newsletter-input-field--professionals"
        placeholder=""
      />
      <button
        type="submit"
        class="btn-newsletter-submit btn-newsletter-submit--professionals"
      >
        AFEGEIX-ME!
      </button>
    </div>
  </div>
</div>
