<section class="footer-cta-section footer-cta-section--visits">
  <img
    src="{{ visits.banner.image }}"
    alt="{{ visits.banner.imageAlt }}"
    class="cta-bg-img"
  />
  <div class="cta-overlay cta-overlay--visits"></div>
  <div class="cta-content cta-content--visits">
    <h2 class="cta-title cta-title--visits">{{ visits.banner.title }}</h2>
    <p class="cta-text cta-text--visits">{{ visits.banner.text }}</p>
    <a
      href="{{ visits.banner.buttonHref }}"
      class="btn-olive-transparent btn-olive-transparent--visits"
      >{{ visits.banner.buttonLabel }}</a
    >
  </div>
</section>

{% include "footer-newsletter-home.html" %}
