<div class="newsletter-bar">
  <div class="footer-container flex-newsletter">
    <div class="newsletter-copy">
      <h2 class="newsletter-heading">BUTLLETI</h2>
      <p class="newsletter-text">
        Uneix-te al nostre butlleti per estar al dia de nous productes i activitats a mes de rebre descomptes
      </p>
    </div>
    <div class="newsletter-form">
      <input type="email" class="newsletter-input-field" placeholder="" />
      <button type="submit" class="btn-newsletter-submit">AFEGEIX-ME!</button>
    </div>
  </div>
</div>
