<section class="footer-cta-section footer-cta-section--visits">
  <img
    src="/assets/images/gallery/visites_guiades_banner.jpg"
    alt="Visites a mida al Montseny"
    class="cta-bg-img"
  />
  <div class="cta-overlay cta-overlay--visits"></div>
  <div class="cta-content cta-content--visits">
    <h2 class="cta-title cta-title--visits">
      VISITES A MIDA: EXPERTESA FORESTAL I NATURA PER AL TEU PROJECTE
    </h2>
    <p class="cta-text cta-text--visits">
      Obrim les portes a professionals del bosc, escoles, paisatgistes i
      projectes de biodiversitat que busquen una experiencia real al Montseny.
    </p>
    <a
      href="/contact/"
      class="btn-olive-transparent btn-olive-transparent--visits"
      >SOL·LICITA LA TEVA VISITA A MIDA</a
    >
  </div>
</section>

<div class="newsletter-bar">
  <div class="footer-container flex-newsletter">
    <p class="newsletter-text">
      Uneix-te al nostre butlleti per estar al dia de nous productes i
      activitats a mes de rebre descomptes
    </p>
    <div class="newsletter-form">
      <input type="email" class="newsletter-input-field" placeholder="" />
      <button type="submit" class="btn-newsletter-submit">AFEGEIX-ME!</button>
    </div>
  </div>
</div>
