{% if footerVariant == "professionals" %} {% include
"footer-variant-professionals.html" %} {% elseif footerVariant == "visits" %} {%
include "footer-variant-visits.html" %} {% elseif footerVariant ==
"visits-newsletter" %} {% include "footer-variant-visits-newsletter.html" %} {%
elseif footerVariant == "projecte-newsletter" %} {% include "footer-variant-projecte-newsletter.html" %} {% elseif footerVariant == "gastronomic" %} {% include
"footer-variant-gastronomic.html" %} {% elseif footerVariant ==
"gastronomic-nutrition" %} {% include
"footer-variant-gastronomic-nutrition.html" %} {% elseif footerVariant == "none"
%} {% else %} {% include "footer-variant-default.html" %} {% endif %} {% include
"footer-main.html" %}
