<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title }} | Castanya de Viladrau{% else %}Castanya de Viladrau - Productes de la terra{% endif %}
  </title>
  <meta name="description" content="Descobreix el món de la castanya al cor del Montseny. Visites guiades, fusta de castanyer i gastronomia local." />

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | url }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <link rel="icon" type="image/png" href="/assets/images/logo.png">
</head>