<!DOCTYPE html>
<html>

  {% include "head.html" %}

  <body class="{% if page.url == '/' %}home{% else %}internal{% endif %}{% if name %} page-{{ name }}{% endif %}">


    {% include "header.html" %}
    <div class="outer-wrap">

      <div class="content-wrap">
      {{ content | safe }}
      </div>

      {% include "footer.html" %}

    </div>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
